<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NovoUsuario</servlet-name>
        <servlet-class>controle.NovoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controle.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaLogin</servlet-name>
        <servlet-class>controle.ServletEditaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditaPerfil</servlet-name>
        <servlet-class>controle.ServletEditaPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscaUsuario</servlet-name>
        <servlet-class>controle.ServletBuscaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfil</servlet-name>
        <servlet-class>controle.ServletPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExibeAmigos</servlet-name>
        <servlet-class>controle.ServletExibeAmigos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGaleria</servlet-name>
        <servlet-class>controle.ServletGaleria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImagem</servlet-name>
        <servlet-class>controle.ServletImagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoUsuario</servlet-name>
        <url-pattern>/NovoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaLogin</servlet-name>
        <url-pattern>/ServletEditaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditaPerfil</servlet-name>
        <url-pattern>/ServletEditaPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscaUsuario</servlet-name>
        <url-pattern>/ServletBuscaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfil</servlet-name>
        <url-pattern>/ServletPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExibeAmigos</servlet-name>
        <url-pattern>/ServletExibeAmigos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGaleria</servlet-name>
        <url-pattern>/ServletGaleria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImagem</servlet-name>
        <url-pattern>/ServletImagem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
